
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

body{
  margin:0;
  padding:0;
  overflow-x: hidden;
}



header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 1.6rem;
  border: 2px solid whitesmoke;
  padding: 8px 12px;
  margin-top: 45px;
  margin-left: 7rem;
}
header p {
  font-family: "Exo 2", sans-serif;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: whitesmoke;
}

.hero {
  max-height: 100%;
  position: relative;
  background: url(/h3.jpg) rgba(201, 199, 199, 0.75);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 150px 0 70px 0;
  padding-left: 7rem;
  
}

.hero .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero .content .title {
  font-family:sans-serif;
  color: #0095ff;
  font-size: 60px;
}

.hero .content .title.h3{
  font-size: 50%;
}

.hero .content .sub-title p {
  font-weight: 400;
  color: whitesmoke;
  font-size: 1.8rem;
  line-height: 45px;
}
.hero .content .sub-title p:last-child {
  color: #0095ff;
}
.hero .content .buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero .content .buttons button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #0095ff;
  border: 1px solid #373a3d;
  background: transparent;
  transition: 0.3s;
}
/* .hero .content .buttons button:hover {
  cursor: pointer;
  background: #0095ff;
  color: whitesmoke;
  transition: 0.3s;
} */
@media (max-width: 1050px) {
  .hero {
    padding-left: 2.5rem;
  }
  header {
    margin-left: 2.5rem;
  }
  .hero .content .title {
    font-size: 2.75rem;
  }
  .hero .content .sub-title p {
    font-size: 1.3rem;
    line-height: normal;
    margin-bottom: 5px;
  }
}
@media (max-width: 880px) {
  .hero {
    background-position: center;
  }
  .hero .content .title {
    font-size: 2.45rem;
  }
  .hero .content .sub-title p {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .hero {
    background-position: bottom;
  }
  .hero .content .title {
    font-size: 20px;
  }
  .hero .content .sub-title p {
    font-size: 1rem;
  }
  .hero .content .buttons button {
    font-size: 1rem;
  }
}
@media (max-width: 467px) {
  .hero {
    padding-left: 1rem;
  }
  header {
    margin-left: 1rem;
  }
  .hero .content .buttons {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}


.gallery {
  background: #111;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 100px 0 50px 0;
}
.gallery h1 {
  color: #0095ff;
  font-size: 2.2rem;
  margin: 0 auto;
  letter-spacing: 1px;
}
.gallery .images {
  display: flex;
  gap: 15px;
  max-width: 1500px;
  min-width: 1500px;
  margin: 0 auto;
}
.gallery .images div {
  flex: 1;
}
.gallery .images img {
  width: 100%;
  height: auto;
}
@media (max-width: 1520px) {
  .gallery {
    padding: 50px 20px 50px 20px;
  }
  .gallery .images {
    min-width: 100%;
    gap: 25px;
  }
}
@media (max-width: 1200px) {
  .gallery h1 {
    font-size: 1.6rem;
  }
}




body{
margin:0;
font-family:Poppins;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
}

.pricing-section{
padding:80px 20px;
text-align:center;
}

.title{
font-size:40px;
color: #111;
margin-bottom:50px;
letter-spacing:2px;
}

.pricing-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
overflow-x: hidden;
overflow-y: hidden;
}

.pricing-card{
background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
border-radius:20px;
padding:30px;
width:280px;
transition:0.4s;
position:relative;
border:1px solid rgba(255,255,255,0.2);
}

/* .pricing-card:hover{
transform:translateY(-10px);
box-shadow:0 20px 40px rgba(0,0,0,0.4);
} */

.pricing-card h2{
margin-bottom:10px;
font-size:24px;
}

.pricing-card h3{
font-size:36px;
color:#00e5ff;
margin:10px 0;
}

.duration{
margin-bottom:20px;
opacity:0.8;
}

.pricing-card ul{
list-style:none;
padding:0;
text-align:left;
margin-bottom:20px;
}

.pricing-card li{
margin:10px 0;
font-size:15px;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:8px;
background:#00e5ff;
color:black;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

/* button:hover{
background:white;
} */

.popular{
transform:scale(1.05);
border:2px solid #00e5ff;
}

.badge{
position:absolute;
top:-12px;
right:20px;
background:#00e5ff;
color:black;
padding:5px 12px;
font-size:12px;
border-radius:20px;
}

@media (max-width:900px){

.pricing-container{
flex-direction:column;
align-items:center;
}

.pricing-card{
width:90%;
max-width:350px;
}

}






.contact {
  min-height: 700px;
  background: url(/contact.jpg) rgba(29, 124, 202, 0.75);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 7rem;
}
.contact form {
  background: whitesmoke;
  width: 450px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
}
.contact form div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.contact form div label {
  font-weight: 500;
}
.contact form div input {
  font-size: 20px;
  padding: 7px 3px;
  border: none;
  border-bottom: 1px solid gray;
  background: transparent;
}
.contact form div input:focus {
  outline: none;
}
.contact form button {
  border: none;
  color: whitesmoke;
  background: #0095ff;
  padding: 10px;
  font-size: 20px;
  transition: 0.3s;
}
/* .contact form button:hover {
  transition: 0.3s;
  background: #0267af;
  cursor: pointer;
} */
@media (max-width: 1160px) {
  .contact {
    justify-content: center;
    padding: 50px 20px;
    background-position: left;
  }
}


footer {
  padding: 20px;
  background: #111;
  text-align: center;
  font-size: 20px;
  color: #0095ff;
}


.bmi {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 100px 0 50px 0;
  background: linear-gradient(45deg, #0a2b42, #60698b);
  margin-bottom: -60px;
  
}
.bmi h1 {
  font-size: 2.4rem;
  margin: 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(241, 241, 241);
  
}
.bmi .container {
  display: flex;
  gap: 50px;
  min-width: 1500px;
  max-width: 1500px;
  color: whitesmoke;
}
.bmi .container .wrapper {
  flex: 1;
}
.bmi .container .wrapper:last-child {
  overflow: hidden;
}
.bmi .container .wrapper:last-child img {
  width: 95%;
  height: 85%;
}
.bmi .container .wrapper form {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-left: 15%;
}
.bmi .container .wrapper form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 22px;
  font-weight: 500;
}
.bmi .container .wrapper form div input,
.bmi .container .wrapper form div select {
  padding: 7px 4px;
  font-size: 22px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: antiquewhite;
}
.bmi .container .wrapper form div option {
  color: #111;
}
.bmi .container .wrapper form div input:focus,
.bmi .container .wrapper form div select:focus {
  outline: none;
}
.bmi .container .wrapper form button {
  border: none;
  padding: 10px 40px;
  font-size: 22px;
  font-weight: 500;
  color: #0095ff;
  background: #fff;
}
@media (max-width: 1520px) {
  .bmi {
    padding: 100px 20px 50px 20px;
  }
  .bmi .container {
    min-width: 100%;
  }
}
@media (max-width: 735px) {
  .bmi .container {
    flex-direction: column-reverse;
    gap: 1px;
  }
}
